/* square buttons */
.rec.rec-arrow {
    border-radius: 0;
    height: 100%;
    background-color: rgba(77, 77, 77, 0.6);
}

/* round buttons on hover */
/* .rec.rec-arrow:hover {
   

} */

/* hide disabled buttons */
.rec.rec-arrow:disabled {
    visibility: hidden;
}

/* disable default outline on focused items */
/* add custom outline on focused items */
.rec-carousel-item:focus {
    outline: none;
    /* box-shadow: inset 0 0 1px 1px lightgrey; */
    background: rgba(0, 0, 0, 0.6);
}

.rec.rec-carousel-item {
    margin-bottom: 0px;
    padding: 0px;
}